In [1]:
# import dependencies
import pandas as pd
import gmaps
import requests

# import the API key
from config import gmap_key

In [2]:
# store the cities.csv into a dataframe
cities_df = pd.read_csv("weather_data/cities.csv")
cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sri Aman,MY,2020-08-19 02:03:29,1.24,111.46,77.00,94,40,2.24
1,1,Hermanus,ZA,2020-08-19 02:03:29,-34.42,19.23,46.99,73,75,5.84
2,2,Geraldton,AU,2020-08-19 02:03:30,-28.77,114.60,59.00,77,44,10.29
3,3,Souillac,MU,2020-08-19 01:58:47,-20.52,57.52,71.60,68,40,10.29
4,4,Hofn,IS,2020-08-19 02:03:30,64.25,-15.21,48.27,84,100,19.06

In [3]:
# get the datatypes
cities_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your google API key
gmaps.configure(api_key=gmap_key)

In [5]:
# Get the maximum temperature.
max_temp = cities_df["Max Temp"]
temps = [max(temp, 0) for temp in max_temp]
# temp = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [6]:
# heatmap of temperature
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = cities_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
max_temp = cities_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
figTemp = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating = False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
figTemp.add_layer(heat_layer)

# 6. Call the figure to plot the data.
figTemp

Figure(layout=FigureLayout(height='420px'))

In [7]:
# heatmap of humidity
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = cities_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
humidity = cities_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
figHumidity = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
figHumidity.add_layer(heat_layer)

# 6. Call the figure to plot the data.
figHumidity

Figure(layout=FigureLayout(height='420px'))

In [8]:
# heatmap of cloudiness
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = cities_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
cloudiness = cities_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
figCloudiness = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating = False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
figCloudiness.add_layer(heat_layer)

# 6. Call the figure to plot the data.
figCloudiness

Figure(layout=FigureLayout(height='420px'))

In [9]:
# heatmap of wind speed
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = cities_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
windspeed = cities_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
figWindspeed = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating = False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
figWindspeed.add_layer(heat_layer)

# 6. Call the figure to plot the data.
figWindspeed

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# filter the dataset to find the cities within the criteria
preferredCities_df = cities_df.loc[(cities_df["Max Temp"] >= min_temp) & (cities_df["Max Temp"] <= max_temp)]
preferredCities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Sri Aman,MY,2020-08-19 02:03:29,1.24,111.46,77.00,94,40,2.24
7,7,Kimparana,ML,2020-08-19 02:03:31,12.83,-4.92,77.32,85,100,1.68
11,11,Hithadhoo,MV,2020-08-19 02:03:32,-0.60,73.08,83.89,73,9,10.36
15,15,Kapaa,US,2020-08-19 02:03:32,22.08,-159.32,80.01,83,90,16.11
17,17,Saint Anthony,US,2020-08-19 02:03:33,45.02,-93.22,75.20,50,1,3.36
25,25,Atuona,PF,2020-08-19 02:01:42,-9.80,-139.03,79.07,73,1,20.74
35,35,Puerto Lempira,HN,2020-08-19 02:03:37,15.27,-83.77,80.73,82,100,4.38
38,38,Teknaf,BD,2020-08-19 02:03:37,20.86,92.31,80.56,88,100,12.48
39,39,Tura,IN,2020-08-19 02:02:33,25.52,90.22,80.10,82,3,4.94
45,45,Hasaki,JP,2020-08-19 01:59:13,35.73,140.83,90.00,66,75,3.36

In [12]:
# determine if there are any null values
preferredCities_df.count()

City_ID       201
City          201
Country       201
Date          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
dtype: int64

In [13]:
# create a dataframe called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferredCities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0         Sri Aman      MY     77.00   1.24  111.46
7        Kimparana      ML     77.32  12.83   -4.92
11       Hithadhoo      MV     83.89  -0.60   73.08
15           Kapaa      US     80.01  22.08 -159.32
17   Saint Anthony      US     75.20  45.02  -93.22
25          Atuona      PF     79.07  -9.80 -139.03
35  Puerto Lempira      HN     80.73  15.27  -83.77
38          Teknaf      BD     80.56  20.86   92.31
39            Tura      IN     80.10  25.52   90.22
45          Hasaki      JP     90.00  35.73  140.83

In [14]:
# set parameters to search for a hotel
params = {"key": gmap_key, "type": "lodging", "radius": 5000}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# print hotel dataframe
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Sri Aman,MY,77.00,1.24,111.46,Seri Simanggang Hotel
7,Kimparana,ML,77.32,12.83,-4.92,
11,Hithadhoo,MV,83.89,-0.60,73.08,Scoop Guest House
15,Kapaa,US,80.01,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
17,Saint Anthony,US,75.20,45.02,-93.22,Holiday Inn Express Roseville-St. Paul
25,Atuona,PF,79.07,-9.80,-139.03,Villa Enata
35,Puerto Lempira,HN,80.73,15.27,-83.77,Yu Baiwan Hotel
38,Teknaf,BD,80.56,20.86,92.31,Magnum Engineering & Construction
39,Tura,IN,80.10,25.52,90.22,Hotel RIKMAN Continental
45,Hasaki,JP,90.00,35.73,140.83,Inubosaki Kanko Hotel

In [17]:
# add a heat map of temperature for the vacation spots
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = hotel_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
max_temp = hotel_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False, max_intensity=300, point_radius=4)

# add marker layer for each city
marker_layer = gmaps.marker_layer(locations)

# 5. Add the heatmap layer and marker layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# add a heat map of temperature for the vacation spots
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = hotel_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
# get the max temps
max_temp = hotel_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating = False, max_intensity=300, point_radius=4)

# add marker layer for each city
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 5. Add the heatmap layer and marker layer.
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))