## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gmap_key

# Configure gmaps
gmaps.configure(api_key=gmap_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Shawnee,US,86.00,clear sky,39.05,-95.77,Fairfield Inn by Marriott Topeka
1,2,Avarua,CK,77.00,few clouds,-21.21,-159.78,Paradise Inn
2,4,Hasaki,JP,75.00,few clouds,35.73,140.83,Inubosaki Kanko Hotel
3,6,Grand Baie,MU,72.00,clear sky,-20.02,57.58,Canonnier Beachcomber Golf Resort & Spa
4,7,Ko Samui,TH,83.17,overcast clouds,9.54,99.94,"The Passage Samui Villas & Resort, Thailand"

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.3, 31.0), zoom_level=1.2)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = vacation_df.loc[(vacation_df["City"] == "Shimoda")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Shimoda")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Toyooka")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Muroto")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Shingu")]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
334,644,Shimoda,JP,79.0,clear sky,34.67,138.95,Shimoda Tokyu Hotel

In [71]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])
print(type(start))
start

<class 'tuple'>

(34.67, 138.95)

In [78]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
start_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode="DRIVING")
fig.add_layer(start_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# 8. To create a marker layer map between the four cities,
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,644,Shimoda,JP,79.00,clear sky,34.67,138.95,Shimoda Tokyu Hotel
1,29,Toyooka,JP,77.09,scattered clouds,35.53,134.83,O Hotel Toyooka
2,293,Muroto,JP,82.89,clear sky,33.28,134.15,Oota Ryokan
3,232,Shingu,JP,77.38,clear sky,33.73,135.98,Shingu UI Hotel

In [80]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [87]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(32.5, 130.0), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))